<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/calendar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Calendrier hebdomadaire des repas</title>
</head>

<body>
    <div id="calendar-container">

        <div class="Jour">
            <h1>Lundi </h1>
            <ul>
                <li> <span class="plat">Riz</span></li>
            </ul>
        </div>

        <div class="Jour">
            <h1> Mardi</h1>

            <ul>
                <li> <span class="plat">Chili</span></li>
                <li> <span class="plat">Riz</span></li>
            </ul>
        </div>

        <div class="Jour">
            <h1>Mercredi</h1>
            <ul> </ul>
        </div>

        <div class="Jour">
            <h1>Jeudi</h1>

            <ul>
                <li> <span class="plat">Lasagnes</span></li>

            </ul>
        </div>

        <div class="Jour">
            <h1>Vendredi</h1>
            <ul>
                <li> <span class="plat">Riz</span></li>
            </ul>
        </div>

        <div class="Jour">
            <h1>Samedi</h1>
            <ul></ul>
        </div>

        <div class="Jour">
            <h1>Dimanche</h1>
            <ul> </ul>
        </div>

    </div>
</body>

</html>