<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/cards.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <title>Fiches recettes</title>
</head>

<body>
    <div id="cards-container">

        <div class="fiche selected">
            <div class="fiche-header">
                <img class="images" src="../img/chili.jpg" alt="">
                <nav>
                    <button> Afficher la recette</button>
                    <button>Ajouter au planning</button>
                </nav>

            </div>

            <div class="fiche-body">

                <h2>Chili</h2>
            </div>

            <div class="fiche-footer">

                <span class="Protéines"> PROTÉINES </span>
                <span class="Légumes"> LÉGUMES </span>
                <span class="Féculents"> FÉCULENTS </span>

            </div>
        </div>

        <div class="fiche scheduled">
            <div class="fiche-header">
                <img class="images" src="../img/riz.jpg" alt="">
                <nav>
                    <button>Afficher la recette</button>
                    <button>Ajouter au planning</button>
                </nav>
            </div>

            <div class="fiche-body">
                <h2>Riz</h2>
            </div>

            <div class="fiche-footer">

                <span class="Protéines"> PROTÉINES </span>
                <span class="Légumes"> LÉGUMES </span>
                <span class="Féculents"> FÉCULENTS </span>

            </div>

        </div>
        <div class="fiche">
            <div class="fiche-header">
                <img class="images" src="../img/lasagnes.avif" alt="">
                <nav>
                    <button> Afficher la recette</button>
                    <button>Ajouter au planning</button>
                </nav>

            </div>
            <div class="fiche-body">

                <h2>Lasagnes</h2>
            </div>
            <div class="fiche-footer">

                <span class="Protéines"> PROTÉINES </span>
                <span class="Légumes"> LÉGUMES </span>
                <span class="Féculents"> FÉCULENTS </span>

            </div>
        </div>


        <div class="fiche">
            <div class="fiche-header">
                <img class="images" src="../img/lasagnes.avif" alt="">
                <nav>
                    <button> Afficher la recette</button>
                    <button>Ajouter au planning</button>
                </nav>

            </div>
            <div class="fiche-body">

                <h2>Lasagnes</h2>
            </div>
            <div class="fiche-footer">

                <span class="Protéines"> PROTÉINES </span>
                <span class="Légumes"> LÉGUMES </span>
                <span class="Féculents"> FÉCULENTS </span>

            </div>

        </div>
        <div class="fiche scheduled">
            <div class="fiche-header">
                <img class="images" src="../img/riz.jpg" alt="">
                <nav>
                    <button>Afficher la recette</button>
                    <button>Ajouter au planning</button>
                </nav>
            </div>

            <div class="fiche-body">
                <h2>Riz</h2>
            </div>

            <div class="fiche-footer">

                <span class="Protéines"> PROTÉINES </span>
                <span class="Légumes"> LÉGUMES </span>
                <span class="Féculents"> FÉCULENTS </span>

            </div>

        </div>
        
    </div>

</body>

</html>