<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/calendar.css">
    <link rel="stylesheet" href="../style/cards.css">
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/planning.css">
    <title>Planning</title>
</head>

<body>
    <div id="planning-container">

        <h1 id="planning-titre">BATCHCOOKING.ESI</h1>

        <div id="calendar-container">
            <div class="Jour">
                <h1>Lundi </h1>
                <ul>
                    <li> <span class="plat">Riz</span></li>

                </ul>

            </div>

            <div class="Jour">
                <h1> Mardi</h1>

                <ul>
                    <li> <span class="plat">Chili</span></li>
                    <li> <span class="plat">Riz</span></li>
                </ul>
            </div>

            <div class="Jour">
                <h1>Mercredi</h1>
                <ul> </ul>
            </div>

            <div class="Jour">
                <h1>Jeudi</h1>

                <ul>
                    <li> <span class="plat">Lasagnes</span></li>

                </ul>
            </div>

            <div class="Jour">
                <h1>Vendredi</h1>
                <ul>

                    <li> <span class="plat">Riz</span></li>

                </ul>
            </div>

            <div class="Jour">
                <h1>Samedi</h1>
                <ul> </ul>

            </div>

            <div class="Jour">
                <h1>Dimanche</h1>
                <ul> </ul>
            </div>

        </div>
        <nav id="listeCourses">
            <button id="listeCoursesB">

                <h2>La liste De Courses</h2>

            </button>
        </nav>

        <div id="cards-container">
            <div class="fiche selected">
                <div class="fiche-header">
                    <img class="images" src="../img/chili.jpg" alt="">
                    <nav>
                        <button> Afficher la recette</button>
                        <button>Ajouter au planning</button>
                    </nav>

                </div>

                <div class="fiche-body">

                    <h2>Chili</h2>
                </div>

                <div class="fiche-footer">

                    <span class="Protéines"> PROTÉINES </span>
                    <span class="Légumes"> LÉGUMES </span>
                    <span class="Féculents"> FÉCULENTS </span>

                </div>
            </div>

            <div class="fiche scheduled">
                <div class="fiche-header">
                    <img class="images" src="../img/riz.jpg" alt="">
                    <nav>
                        <button>Afficher la recette</button>
                        <button>Ajouter au planning</button>
                    </nav>
                </div>

                <div class="fiche-body">
                    <h2>Riz</h2>
                </div>

                <div class="fiche-footer">

                    <span class="Protéines"> PROTÉINES </span>
                    <span class="Légumes"> LÉGUMES </span>
                    <span class="Féculents"> FÉCULENTS </span>

                </div>

            </div>
            <div class="fiche">
                <div class="fiche-header">
                    <img class="images" src="../img/lasagnes.avif" alt="">
                    <nav>
                        <button> Afficher la recette</button>
                        <button>Ajouter au planning</button>
                    </nav>

                </div>
                <div class="fiche-body">

                    <h2>Lasagnes</h2>
                </div>
                <div class="fiche-footer">

                    <span class="Protéines"> PROTÉINES </span>
                    <span class="Légumes"> LÉGUMES </span>
                    <span class="Féculents"> FÉCULENTS </span>

                </div>
            </div>


            <div class="fiche">
                <div class="fiche-header">
                    <img class="images" src="../img/lasagnes.avif" alt="">
                    <nav>
                        <button> Afficher la recette</button>
                        <button>Ajouter au planning</button>
                    </nav>

                </div>
                <div class="fiche-body">

                    <h2>Lasagnes</h2>
                </div>
                <div class="fiche-footer">

                    <span class="Protéines"> PROTÉINES </span>
                    <span class="Légumes"> LÉGUMES </span>
                    <span class="Féculents"> FÉCULENTS </span>

                </div>

            </div>
            <div class="fiche scheduled">
                <div class="fiche-header">
                    <img class="images" src="../img/riz.jpg" alt="">
                    <nav>
                        <button>Afficher la recette</button>
                        <button>Ajouter au planning</button>
                    </nav>
                </div>

                <div class="fiche-body">
                    <h2>Riz</h2>
                </div>

                <div class="fiche-footer">

                    <span class="Protéines"> PROTÉINES </span>
                    <span class="Légumes"> LÉGUMES </span>
                    <span class="Féculents"> FÉCULENTS </span>

                </div>

            </div>
            

        </div>
    </div>

</body>

</html>