<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/recipe.css">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/button.css".css">
    <title>Recette du Chili</title>
</head>

<body>
    <div id="recipe-container">
        <h1>Chili</h1>
      
          
            <img class="images" src="../img/chili.jpg" alt="">
            <ul>
                <li> 300 g de haricots rouges secs</li>
                <li> 800 g de bœuf haché</li>
                <li>2 oignons</li>
                <li> 4 gousses d'ail</li>
                <li> 800 g de tomates concassées </li>
                <li> 4 cuil. à soupe de concentré de tomate</li>
                <li>4 poivrons rouges</li>
                <li> 5 cuil. à soupe de poudre de chili</li>
                <li> 1 cuil. à soupe de poudre de cumin</li>
                <li> 1 cuil. à soupe de paprika </li>
                <li> 4 feuilles de laurier</li>
                <li>1 gros bouquet de coriandre </li>
                <li> 300 g de grains de maïs égouttés</li>
                <li> poivre du moulin</li>
                <li> huile d'olive </li>
            </ul>

        <div class="recette-body">
            <ol>
                <li> Faire tremper les haricots pendants 12 heures dans de l'eau froide. Mettre les haricots dans
                    une cocotte remplie d'eau froide.</li>
                <li>Les cuire 1 heure et demi à petits bouillon puis salez</li>
                <li>Pendant ce temps hacher les oignons et l'ail et faire revenir dans une cocotte avec l'huile,
                    jusqu’à qu’ils deviennent translucides.</li>
                <li> Ajouter la viande hachée, mélanger et remuer sur feu moyen. Ajouter les tomates mondées,
                    épépinées et coupées en dés, le piment, l’origan, le cumin et le piment. Ajouter le jus de
                    tomates et laisser mijoter 5 minutes.</li>
                <li> 5 Égoutter les haricots et les ajouter au mélange. Mélanger et laisser cuire 20 min à feu doux.
                </li>
                <li> Pour finir, rectifier l'assaisonnement selon votre goût et servez. </li>

            </ol>
            <nav>
                <button class="pagePrécédente"> page précedente</button>
        
            </nav>

        </div>




    </div>

</body>

</html>