<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/shopping-list.css">
    <link rel="stylesheet" href="../style/button.css" .css">
    <title>Liste de course</title>
</head>

<body>
    <div id="shopping-list-container">
        <nav>
            <button class="pagePrécédente"> page précedente</button>

        </nav>
        <h1> LISTE DE COURSES</h1>

        <div id="liste">
            <div id="fruits et légumes">
                <ul>
                    <h2>fruits et légumes</h2>
                    <li>Abricot</li>
                    <li>Ananas</li>
                    <li>Banane</li>
                    <li>Kiwi</li>
                    <li>Brocolis</li>
                </ul>
            </div>
            <div id="Féculents">
                <h2> Féculents</h2>
                <ul>
                    <li>Pommes de terre</li>
                    <li>Patate douce</li>
                    <li>Riz</li>
                </ul>
            </div>
            <div id="Produits Laitiers">
                <h2> Produits Laitiers</h2>
                <ul>
                    <li>Fromage </li>
                    <li>Lait</li>

                </ul>
            </div>
            <div id="Viande">
                <h2> Viande</h2>
                <ul>
                    <li>Poulet</li>
                    <li>Boeuf</li>
                    <li>Veau</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>